html, body {
    background: linear-gradient(to bottom, #000000, #111111);
    color: rgb(255, 255, 255);
    height: 100%;
   
}

body {
    overflow: hidden;
}

.title{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(45deg, #3498db, #abbdef);
    -webkit-background-clip: text;
    background-clip: text;
    display: block;

}

.dust {
    position: absolute;
    width: 0.5px;
    height: 0.5px;
    background-color: #ffffff;
    border-radius: 100%;
    opacity: 0.5;
    animation: float 5s linear infinite;
   
}

@keyframes float {
    0% {
       opacity: 0;
       transform: translateY(-30vh);
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 0%;
    }
    100% {
        transform: translateY(100vh);
    }
}

.custom-btn {
    width: 160px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-weight: 500;
  }

.counter{
    background: rgb(96,9,240);
    background: linear-gradient(45deg, rgba(96,9,240,1) 4%, rgba(129,5,240,1) 100%);
    border: none;
    
}

.reset{
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgb(239, 87, 74) 90%, rgb(250, 43, 6) 100%);
    border: none;
    font-size: x-small;
    width: 60px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    width: max-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    
    top: 42%;
    transform: translate(0, -50%);
    z-index: 1;
}

.counters{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.bg-changer{
    border: 0;
    border: none;
    width: 40px;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 0;
    z-index: 1;
}



.hover-effect {
    display: block;
    background-color: rgba(255, 255, 255, 0.118);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    z-index: 0;

    position: relative;
    left: -30px;
    top: -200px;
    transition: background-color 0.3s ease;
}

.alert-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.alert-input{
    padding: 9px;
    width: 140px;
    height: 25px;
    border-radius: 6px;
    border: 0;
    color: azure;
    background-color: #000000;
    text-align: center;
    position: relative;
    top: -2px;
}


.alert{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgb(239, 87, 74) 90%, rgb(250, 43, 6) 100%);
    border: none;
    font-size:medium;
    width: 60px;
    text-align: center;
}